{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls admin_modify %}


{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block content %}
    <aside class="right-side">
        <!-- Content Header (Page header) -->
            {% include "admin/includes/breadcrumbs_change_form.html" %}

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-11">
            {% block object-tools %}
            {% if change %}{% if not is_popup %}
              <div class="btn-group" style="float:right;">
                {% block object-tools-items %}
                    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                    <a href="{% add_preserved_filters history_url %}" class="btn btn-block btn-default">{% trans "History" %}</a>
                {% if has_absolute_url %}<a href="{{ absolute_url }}" class="btn btn-block btn-default">{% trans "View on site" %}</a></li>{% endif %}
                {% endblock %}
              </div>
            {% endif %}{% endif %}
            {% endblock %}
            </div>
          </div>
            <div class="row">
                <!-- right column -->
                <div class="col-xs-11">
                    <!-- general form elements disabled -->
                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% firstof message.tags 'success' %} alert-dismissable">
                                    <i class="fa fa-check"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock messages %}

                    {% if errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% blocktrans count counter=errors|length %}Por favor, corrija o erro abaixo.{% plural %}
                              Por favor corrija os erros abaixo.{% endblocktrans %}
                            {{ adminform.form.non_field_errors }}
                            {% for error in errors %}
                              {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form role="form" action="{{ form_url }}" id="{{ opts.module_name }}_form" method="post"
                          {% if has_file_field %}enctype="multipart/form-data" {% endif %}>
                        {% csrf_token %}
                        {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}

                        {% block field_sets %}
                            {% for fieldset in adminform %}
                                {% include "admin/includes/fieldset.html" with form=form %}
                            {% endfor %}
                        {% endblock %}
                        {% block after_field_sets %}{% endblock %}

                        {% block inline_field_sets %}
                            {% for inline_admin_formset in inline_admin_formsets %}
                                {% include inline_admin_formset.opts.template %}
                            {% endfor %}
                        {% endblock %}

                        {% block after_related_objects %}{% endblock %}
                        <div class="box-footer">
                            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
                        </div>
                    </form>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}
{% block extrajs %}
    <script src="{% static 'admin/js/jquery-ui-1.10.3.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery-ui-1.10.4.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.maskedinput.js' %}" type="text/javascript"></script>
{% endblock %}
