{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load admin_urls %}

{% block content %}
    <aside class="right-side">
        <!-- Content Header (Page header) -->
            {% include "admin/includes/breadcrumbs_change_form.html" %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- general form elements disabled -->
                    {% if perms_lacking or protected %}
                        {% if perms_lacking %}
                            <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            {% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
                            </div>
                            <ul>
                            {% for obj in perms_lacking %}
                                <li>{{ obj }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% if protected %}
                            <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            {% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}
                            </div>
                            <ul>
                            {% for obj in protected %}
                                <li>{{ obj }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                            <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            {% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}
                            </div>
                    {% for deletable_object in deletable_objects %}
                        <ul>{{ deletable_object|unordered_list }}</ul>
                    {% endfor %}
                        <form action="" method="post">{% csrf_token %}
                        {% for obj in queryset %}
                            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
                        {% endfor %}
                            <input type="hidden" name="action" value="delete_selected" />
                            <input type="hidden" name="post" value="yes" />
                            <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
                        </form>
                {% endif %}
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}
